@{
    ViewBag.Title = "About";
}

<div class="bg-dark p-lg-5 text-white rounded">
    <h2>About</h2>
    <p>SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
</div>