@model Technician
@{
    ViewBag.Title = "Delete Technician";
}

<h2>@ViewBag.Title</h2>
<p>Do you really want to delete <span class="font-weight-bold">@Model.Name</span>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TechnicianID" />

    <button type="submit" class="btn btn-primary">Yes</button>
    <a asp-action="List" class="btn btn-primary">No</a>
</form>